* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #f5f5f5;
	padding: 100px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 20px;
    max-width: 1200px;
    margin: auto;
}

h1 {
	font-size: 2.5rem;
	color: #333;
	text-align: center;
}

.descripcion {
	font-size: 1.2rem;
	color: #333;
	text-align: center;
}

input {
	width: 100%;
	padding: 10px;
	font-size: 1.2rem;
	border: 1px solid #333;
	border-radius: 5px;
}

textarea {
	width: 100%;
	padding: 10px;
	font-size: 1.2rem;
	border: 1px solid #333;
	border-radius: 5px;
}

.listadoDeBotones {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

button {
	flex: 1;
	min-width: 100px;
	padding: 20px;
	font-size: 1.2rem;
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background-color: #555;
	border-color: #555;
}

.loading {
	font-size: 1.5rem;
	color: #333;
	text-align: center;
	margin-top: 20px;
}

.dot {
	display: inline-block;
	animation: bounce 1s infinite;
}

.dot:nth-child(1) {
	animation-delay: 0s;
}

.dot:nth-child(2) {
	animation-delay: 0.2s;
}

.dot:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

.unaCombinacion {
	cursor: pointer;
}

.botonesAccion {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.botonesAccion.transicion {
	opacity: 1;
}

.botonesAccion button {
	flex: 1;
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

.botonesAccion button:hover {
	background-color: #555;
	border-color: #555;
}

@media (max-width: 700px) {
	body {
		padding: 20px;
	}
	.listadoDeBotones {
		flex-direction: column;
	}
}
